*{
    margin: 0;
    padding: 0;
  }
#filled-basic{
    background-color: rgba(90, 119, 90, 0.3);
    width: 325px;
}
#btn{
    background-color: rgb(22, 63, 22);
    margin-inline: 35px;
    margin-block: 20px;
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 80px;
}
#col1{
    box-shadow: 1px 1px 3px rgb(70, 70, 70);
}
#col2{
    box-shadow: 1px 1px 3px rgb(70, 70, 70);
    padding: 30px;
}
h4{
    text-align: center;
}
#p1{
    text-align: center;
    font-size: 35px;
}
#r1{
    background-color: rgba(90, 119, 90, 0.3);
    padding: 20px;
}
h6{
    color: rgb(22, 63, 22);
}
#p2{
    font-size: 20px;
}
