*{
  margin: 0;
  padding: 0;
} 
@media only screen and (max-width: 600px){
  #row1{
    flex-direction: column;
  }
  #col1{
    margin-top: 30px;
    width: 390px;
  }
  #col2{
    width: 390px;
  }
  #btn{
    width: 80px;
    font-size: x-small;
  }
}